/* navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
}

nav ul li a {
    color: white;
    background-color: hotpink;
    border: 1px white solid;
    display: block;
    padding:10px;
    text-decoration: none;
}

/* html selectors */
body{
    text-align: center;
}


/* class selectors */

.show li{
    display: block;
}

/* id selectoors */